
footer {
    position: fixed;
    margin-top: 40px;
    bottom: 0;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: black;
}

.social-bar,
footer .container {
    display: flex;
}

footer .container {
    justify-content: space-between;
}

.social-bar {
    margin-left: 10px;
}

.social {
    width: 30px;
    height: 30px;
    background-image: url(../img/footer/social.png);
    background-size: 260px;
    margin: 5px;
    border-radius: 5px;
}

.instagram {
    background-position: 50% 10%;
}

.instagram:hover {
    background-position: 50% 92%;
}

.youtube {
    background-position: 34% 10%;
}

.youtube:hover {
    background-position: 34% 92%;
}

.copyright {
    align-self: center;
}

.buttonUp {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.buttonUp > a,
.buttonUp img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.buttonUp img:hover {
    transition: .5s ease-in-out;
    bottom: 5px;
}
